<launch>
<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="inertial_ekf" output="screen">
  <rosparam>
    freq: 10.0
    sensor_timeout: 1.0
    publish_tf: true
    odom_used: true
    imu_used: true
    vo_used: false
    output_frame: odom
  </rosparam>
  <remap from="odom" to="encoder"/>
  <remap from="imu_data" to="imu/data"/>
</node>
</launch>
