<launch>
  <node pkg="um6" type="um6_driver" name="um6_driver">
    <param name="port" type="string" value="$(optenv HUSKY_IMU_PORT /dev/clearpath/imu)"/>
    <param name="mag_updates" type="bool" value="false"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="imu_tf"
        args="$(optenv HUSKY_IMU_TF 0 0 0 1.5705 1.5705 0) base_link imu_link 10"/>
</launch>
