<?xml version="1.0"?>
<launch>
  
  <node pkg="um6" type="um6_driver" name="um6_driver">
    <param name="port" type="string" value="$(optenv HUSKY_IMU_PORT /dev/clearpath/imu)"/>
    <param name="mag_updates" type="bool" value="false"/>
  </node>

  <!--node pkg="imu_compass" type="imu_compass" name="imu_compass" respawn="true">
    <rosparam command="load" file="/etc/ros/$(env ROS_DISTRO)/imu_compass.yaml"/>
  </node-->

</launch>
