<launch>
  <!-- NavSat serial comms -->
  <group ns="navsat">
    <node pkg="nmea_comms" type="serial_node" name="nmea_serial_node" output="screen">
      <param name="port" value="$(optenv HUSKY_NAVSAT_PORT /dev/clearpath/gps)" />
      <param name="baud" value="$(optenv HUSKY_NAVSAT_BAUD 19200)" />
    </node>

    <!-- interpretation -->
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver">
      <remap from="nmea_sentence" to="rx" />
    </node>

    <!-- ENU translation -->
    <node pkg="enu" type="from_fix" name="enu_from_fix">
      <param name="invalid_covariance_value" value="1000000" />
      <param name="lock_altitude" value="0"/>
      <param name="scale_covariance" value="0.05"/>
    </node>
  </group>
</launch>
