# This is pretty hacky, but I can't get the Python version below to work due
# to udev not apparently supporting a quote escaping scheme -mpu
SUBSYSTEM=="tty", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", ATTRS{product}=="Clearpath Robotics /*", MODE="0666", PROGRAM="/bin/echo '%s{product}'", SYMLINK+="clearpath%c{3}"

#SUBSYSTEM=="tty", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", ATTRS{product}=="Clearpath Robotics /*", MODE="0666", PROGRAM="/usr/bin/env python -c 'print(''%s{product}''.split(''/'')[1])'", SYMLINK+="%c"
